/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header Styles */
.header {
  background-color: #0d6efd;
  font-style: italic;
  text-align: center;
  color: white;
  margin-bottom: 0;
  padding: 5px 0;
}

.headerImg {
  width: 100px;
  height: auto;
}

/* Navbar Styles */
.navbar {
  background-color: #f0f8ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.navBrand {
  font-weight: bolder;
}

.navLink {
  color: #003256 !important;
  font-weight: bolder;
}

.navLink:hover {
  color: blue !important;
}

.ml-auto {
  margin: auto;
}

/* Login Form Styles */
.loginForm {
  display: flex;
  align-items: center;
}

/* Increment/Decrement Styles */
.increment-decrement {
  display: flex;
  align-items: center;
}

/* Featured Section Styles */
.featured {
  display: grid;
  align-content: center;
}

@media (max-width: 767.98px) {
  .featured {
    min-height: 65vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("./src/assets/featured image.jpg") no-repeat center;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .featured {
    min-height: 65vh;
    background: url("./src/assets/featured image.jpg") no-repeat center;
    background-size: cover;
  }
}

/* Product Page Styles */
.productPage {
  background: url("./src/assets/productPage.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* Log In and Register Form Styles */
@media (max-width: 767.98px) {
  .logInImg,
  .registerImg {
    display: none;
  }

  .logInForm,
  .registerForm {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("./src/assets/login.png") no-repeat center;
    background-size: cover;
  }
}

/* Profile Section Styles */
.profile {
  min-height: 50vh;
}

/* Icon and Info Section Styles */
.icon {
  display: flex;
  justify-content: center;
}

.info {
  display: grid;
  background-color: #ffd700;
  align-content: center;
}

@media (max-width: 767.98px) {
  .icon {
    display: none;
  }

  .info {
    min-height: 80vh;
    background: url("./src/assets/icon.png") no-repeat center;
    background-size: cover;
  }
}

/* Card Styles */
.cardsDiv,
.cards {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* Cart Page Styles */
.cartPage {
  background: url("./src/assets/cartPage.jpg") no-repeat center;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

.cartTable {
  opacity: 0.9;
}
